<h1 align=center>IMDB for Computer Science Books</h1>

<div style="margin-left:auto;margin-right:2px;width:80px;">
  <%= link_to "Login", imdb_login_path %><br>
  <%= link_to "register", imdb_register_path %><br>
</div>

<div align=center>
  <%= image_tag "homepage.png" :size =>'300x194' %><br>
</div>

<table width=100% height=100%><tr><td><center>
  <span>
    <input type="Textbox" name="mid" style="height:50px;width:400px;text-align:center;"/>
  </span>
  <button type="submit" style="height:50px; width:80px; margin-left:5px">Search</button>
</center></td></tr></table>
