<body>
  <div>
    <%= render 'top_menu'%>
  </div>
  <div id="main-container" class="container">

    <div class="row text-center">
      <div id="leftsidebar" class="col-xs-6">
        <%= index_top%>
      </div>
    </div>

    <div class="row text-center">
      <div align=center>
        <%= image_tag(@logo_src, size: "985x315", :class => "logo") %>
      </div>
    </div>

    <div align="center" class = "row">
      <%= form_tag("/search_box/search_results", method: "get", id:'search') do %>
      <div class = "col-xs-8">
        <div class = "search_box">
          <input name = "terms" class = "form-control"></input>
        </div>
      </div>
      <div class = "col-xs-2">
        <button type = "submit" class = "btn btn-primary">Search</button>
      </div>
      <% end %>
    </div>

  </div>
</body>
