<h1 id='title1'>IMDB for Computer Science Books</h1>
<div id='title1'>
  <span>
    Username<input type="Textbox" class = 'username' />
  </span><br>
  <span>
    Password<input type="Textbox" class = 'password'/>
  </span><br>
  <div>
    <%= button_to "cancel", imdb_register_path, :method => "get" %>
    <%= button_to "login", users_path, :method => "get" %>
  </div>
</div>
