<<<<<<< HEAD
<h1 id='title1'>IMDB for Computer Science Books</h1>

<span>
  Username<input type="Textbox" class = 'username' />
</span><br>
<span>
  Password<input type="Textbox" class = 'password'/>
</span><br>
<span>
  Confirm<input type="Textbox" class = 're_password'/>
</span><br>
<div>
  <%= button_to "cancel", imdb_index_path, :method => "get" %>
  <%= button_to "register", users_index_path, :method => "get" %>
</div>
