
<% @comments.each do |c|%>
  <div class="row">
    <div class="col-sm-9">
      <h2><%=c.title%></h2>
      <h5><span class="glyphicon glyphicon-time"></span> <%= find_displayname(c.user_id)%>, <%=c.created_at %></h5>
      <h5><span class="label label-success">Lorem</span></h5><br>
      <p><%=c.body%></p>
      <hr>
      <br><br>
    </div>
  </div>
<% end %>
