<div id="section1" class="container-fluid">
  <div class="container-fluid">
    <h2><strong>Comments:</strong></h2>
    <hr>

    <div id = "comment_list" >
      <%= render "comment_list"%>
    </div>

    <% if session[:imdb_user_id]%>
    <h4>Leave a Comment:</h4>
    <%= form_tag "comment", :method=> "post", :remote=> true, :id=>"user_comment" do %>
    <%= hidden_field_tag "book_id", @book.id %>
    <h5>title:</h5>
    <textarea class="form-control" rows="1" id="comment_title" name="comment_title" type="text"></textarea>
    <h5>comments:</h5>
    <textarea class="form-control" rows="4" id="comment_body" name="comment_body" type="text"></textarea>
    <br>
    <%= submit_tag "Comment", :class=>"btn" %>
    <%end%>
    <%end%>
    <script>
    $("#user_comment").css("color","black");
    </script>

  </div>
</div>
