// Place all the styles related to the imdb controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#title1 {
  background: #9c9;
  text-align: center;
  font: small-caps 40px/40px "Times New Roman", serif;
}

#bar {
  margin-left:auto;
  font: small-caps 20px/20px "Times New Roman", serif;
  margin-right:2px;
  width:80px;
}

#search {
  height:500px;
  width:1000px;
  margin-top:5px;
}

#button-margin01{
  margin-left:5px;
  margin-top:5px;
}

#p1{
  font-size:20px;
  color:#0000ff;
}

#p2{
  font-size:20px;
  color:#ff0000;
}

#p2{
  font-size:15px;
}


#twosides{
  padding-left: 0;
  padding-right: 0;
}
