// Place all the styles related to the search_box controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#p5{      //tile style
  font-size:15px;
  color:#0000ff;
}

#p6{       //author style
  font-size:15px;
  color:#ff0000;
}

#p7{     //description style
  font-size:15px;
  width:800px;
  height:170px;
  overflow:hidden;
  text-overflow:ellipsis;
}
