// Place all the styles related to the search_box controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#booktitle{
  font-size: 40px;
  color:#000000;
}

#bookauthor{
  font-size:15px;
  color:#555555;
}

#bookdescription{
  font-size:15px;
  color:#ffffff;
}

#p1{
  text-align: center;
}

#p2{
  text-align: right;
}


#p3{
  width: 100%;
  text-align: justify;
  display: inline-block;
  text-overflow: ellipsis;
}

.searchComment{
    text-align: left;
    padding-left: 30px;
}
